@media only screen and (min-width: 768px) {
  .desktop-social {
    display: flex;
    background-color: #3e3e3e;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 1%;
    gap: 20px;
  }

  .desktop-social a {
    color: #fff;
  }

  .container {
    padding: 1% 5%;
  }

  header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  /* .header-ul {

  } */

  main {    
    display: flex;
    justify-content: center;
    padding: 8% 0;
  }

  .text-title {
    font-size: 6.2vw;
  }

  .text-description {
    font-size: 1.2vw;
  }

  .headline {
    font-size: 2.1vw;
    font-weight: 400;
  }

  hr {
    width: 5%;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 2px;
  }

  .nav-ul a {
    font-size: 1.1vw;
    color: #868686;
    font-weight: 800;
  }

  #webLogo {
    display: flex;
    width: 25%;
    justify-content: flex-start;
  }

  #openNav {
    display: none;
  }

  .register {
    padding: 3%;
    border: 2px solid #ec5242;
  }

  /* INDEX HTML */
  #home {
    width: 66%;
  }

  #services {
    padding-bottom: 5%;
  }

  .programs {
    flex-direction: row;
    padding: 4% 12%;
    /* padding-top: 4%; */
  }

  .program {
    flex-direction: column;
    padding: 1%;
    gap: 4%;
    width: 20%;
    text-align: center;
  }

  .program img {
    width: 30%;
  }

  .program img,
  .program p {
    margin: 0;
  }

  .program-name {
    font-weight: 700;
    font-size: 1.6vw;
  }
  .program-description {
    font-weight: 700;
    font-size: 0.8vw;
  }

  .btn {
    display: none;
  }

  #services a {
    display: block;
    text-decoration: underline;
    color: #fff;
    font-size: 1.3vw;
    width: 100%;
  }
}
