@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  /* .header-ul {

  } */

  .text-title {
    font-size: 6.2vw;
  }

  .text-description {
    font-size: 1.2vw;
  }

  .headline {
    font-size: 2.5vw;
  }

  hr {
    width: 5%;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 2px;
  }

  #webLogo {
    display: flex;
    width: 25%;
    justify-content: flex-start;
  }

  #openNav {
    display: none;
  }

  .register {
    padding: 3%;
    border: 2px solid #ec5242;
  }

  /* INDEX HTML */
  #home {
    width: 66%;
  }

  .programs {
    flex-direction: row;
    padding: 12%;
    padding-top: 4%;
  }

  .program {
    flex-direction: column;
    padding: 1%;
    gap: 2%;
    width: 20%;
  }

  .program img {
    width: 30%;
  }

  .program img,
  .program p {
    margin: 0;
  }

  .btn {
    display: none;
  }
}
