@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.main-section {
  background-image: url('../images/welcome-bg.avif');
  background-size: cover;
  background-position: center center;
}

#div_blur {
  background-color: #ffffff6b;
  backdrop-filter: blur(3px);
}

header {
  padding: 1px 10px;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.displayGrid {
  display: grid;
}

ul {
  list-style-type: none;
  padding: 0;
}

#headerUl {
  margin: 5%;
}

#headerUl li {
  cursor: pointer;
}

#website_logo {
  width: 10%;
}

#img_ham {
  width: 1.8em;
}

.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-primary {
  color: #ec5242;
}

.text-dark {
  color: #272a31;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #d3d3d3;
}

#home p,
#home h1,
#home small {
  margin: 0;
}

#home {
  row-gap: 20px;
}

.text-title {
  background-image: url('../images/title-bg.jpg');
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 9vw;
  font-family: 'cocogoose', sans-serif;
  font-weight: 700;
}

.text-description {
  padding: 5%;
  border: 1px solid #fff;
  border-radius: 10px;
}

#p_date {
  font-weight: 700;
  font-size: x-large;
}

/* SERVICES SECTION */

#services {
  justify-items: center;
  background-color: black;
  color: #fff;
}

hr {
  border: 1px solid #ec5242;
  width: 10%;
}

#ul_services {
  flex-direction: column;
}

#ul_services img {
  width: 10%;
}

#ul_services div {
  display: flex;
  background-color: rgba(128, 128, 128, 0.534);
}
