body {
  margin: 0 auto;
}

header {
  background-color: transparent;
  margin: 0;
  padding: 1px 10px;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.displayGrid {
  display: grid;
}

.displayBlock {
  display: block;
}

#headerUl {
  list-style-type: none;
  /* display: flex; */
  /* justify-content: space-around; */
  padding: 0;
  margin: 5%;
}

#headerUl li {
  cursor: pointer;
}

#website_logo {
  width: 10%;
}

#img_ham {
  width: 1.8em;
}

.container {
  padding: 5%;
}
